<form action="" method= "post" name="comments_form">
    <table>
        <tr>
            <td>
                <textarea cols="40" rows="5" name="comments">Commentaires ...</textarea>
            </td>
            <td>
                <input type="hidden" name="ref" value="{{ id_item }}" />
                <input type="submit" value="Valider" />
            </td>
        </tr>
    </table>
</form>