/* 
    Document   : main
    Created on : 10 mars 2013, 19:24:42
    Author     : ydevars
    Description:
        Purpose of the stylesheet follows.
*/

.title1 {
    font: 30px;
    color: red;
}
.title3 {
    font: 30px;
    color: red;
}

