/* 
    Document   : main
    Created on : 10 mars 2013, 19:24:42
    Author     : ydevars
    Description:
        Purpose of the stylesheet follows.
*/

.title1 {
    font-size: 30px;
    color: black;
 
}
.title3 {
    font: 30px;
    color: white;
}

.simple_text {
    font: 15px;
    color: white;
}

.mini_text {
    font: 5px;
    color: white;
}
